.introPage{
    font-family: 'Merriweather', serif;
}

img {
    max-width: 100%;
}

html{
    font-size: 16px;
}

h1,h2,h3,h4, p {
    margin: 0;
}

.mainQuestion h1 {
    font-family: 'IM Fell English', serif;
}

.buttonHolder button {
    font-family: 'Josefin Sans', sans-serif; 
}

.question h2 {
    color: #663399;
}

.question h2 {
    font-family: 'Vidaloka', serif;
}

.wrongOption p
.rightOption p {
    font-family: 'Quicksand', sans-serif;
}

.answeredRight,
.answeredWrong {
    font-family: 'Playfair Display', serif;
}



//    font-family: 'Vidaloka', serif;
// font-family: 'Quicksand', sans-serif;





    // font-family: 'IM Fell English', serif;

    // font-family: 'Josefin Sans', sans-serif
