@mixin questionSectionLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

@mixin dishQuestionLayout{
    width: 50%;
    padding: 10px;
}

@mixin dishImgWidth{
    width: 80%
}

@mixin questionLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px #000;
}

@mixin initialOptionsLayout {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

@mixin optionButtonStyling {
    border-radius: 50px;
    padding: 16px 65px;
    font-size: 1.125rem;
    border: none;
    background-color: #232b2b;
    color: #f4f4f4;
}



