article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.introPage {
  font-family: 'Merriweather', serif; }

.introPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.mainQuestion {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainQuestion h1 {
  margin: auto;
  z-index: 99; }

.mainQuestion h1 {
  margin: auto;
  background: CHARTREUSE;
  padding: 10px 20px;
  border: 1px solid #FFFFFF; }

.country {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.grayScale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.grayScaleOff {
  -webkit-filter: none;
  filter: none; }

.buttonHolder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.country button {
  margin: auto;
  background: blue;
  border-radius: 3px;
  padding: 16px 65px;
  text-align: center;
  z-index: 9;
  font-size: 1.125rem;
  border: none;
  -webkit-filter: none;
  filter: none; }

.japanSelect {
  background-image: url("../images/japanIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.brazilSelect {
  background-image: url("../images/brazilIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.indiaSelect {
  background-image: url("../images/indiaIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.vietnamSelect {
  background-image: url("../images/vietnamIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.selectBrazil {
  background-image: url("../images/brazilIntro.jpg"); }

body {
  color: red; }

.option {
  background-color: #7fff00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0.69'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='0.69'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0.69'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='0.69'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2366cc00' fill-opacity='0.69'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.69'%3E%3Cpolygon fill='url(%23a)' points='100%2C30 0%2C0 200%2C0'/%3E%3Cpolygon fill='url(%23b)' points='100%2C100 0%2C130 0%2C100 200%2C100 200%2C130'/%3E%3C/g%3E%3C/svg%3E"); }
