article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.introPage {
  font-family: 'Merriweather', serif; }

img {
  max-width: 100%; }

html {
  font-size: 16px; }

h1, h2, h3, h4, p {
  margin: 0; }

.mainQuestion h1 {
  font-family: 'IM Fell English', serif; }

.buttonHolder button {
  font-family: 'Josefin Sans', sans-serif; }

.question h2 {
  color: #30d1f6; }

.question h2 {
  font-family: 'Vidaloka', serif; }

.wrongOption p
.rightOption p {
  font-family: 'Quicksand', sans-serif; }

.answeredWrong h3 {
  color: maroon;
  font-size: 2rem; }

.answeredRight h3 {
  color: green;
  font-size: 2rem; }

.answeredWrong p,
.answeredRight p {
  color: white;
  letter-spacing: .5px;
  word-spacing: 1px; }

.answeredRight,
.answeredWrong {
  font-family: 'Playfair Display', serif; }

body {
  background-image: url("../images/brushed_alu.png"); }

.introPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.mainQuestion {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainQuestion h1 {
  margin: auto;
  z-index: 99; }

.mainQuestion h1 {
  margin: auto;
  padding: 10px 20px; }

.country {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.grayScale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.grayScaleOff {
  -webkit-filter: none;
  filter: none; }

.mainQuestion h1,
.japanButton,
.brazilButton,
.vietnamButton,
.indiaButton {
  background-color: #18c57e;
  color: #e9e8d5; }

.buttonHolder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.country button {
  margin: auto;
  border-radius: 3px;
  padding: 16px 65px;
  text-align: center;
  z-index: 9;
  font-size: 1.125rem;
  border: none;
  -webkit-filter: none;
  filter: none; }

.japanSelect {
  background-image: url("../images/japanIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.brazilSelect {
  background-image: url("../images/brazilIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.indiaSelect {
  background-image: url("../images/indiaIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.vietnamSelect {
  background-image: url("../images/vietnamIntro.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat; }

.nextQuestion {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #fc6600;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.sauceQuestion,
.utensilQuestion,
.dippingQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px; }

.dish,
.question {
  width: 50%;
  padding: 10px; }

.dish img {
  width: 80%; }

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  min-height: 300px;
  background-image: url("../images/spirationDark.png");
  border: 3px solid #fc6600; }
  .question h2,
  .question h3,
  .question .initialOptions,
  .question .answeredRight,
  .question .answeredWrong {
    margin-bottom: 20px; }
  .question h2,
  .question h3,
  .question p {
    text-align: center; }

.initialOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .initialOptions .wrongOption {
    margin-right: 10px; }
  .initialOptions .rightOption {
    margin-left: 10px; }

.option {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  border: 1px solid;
  color: #FFFFFF;
  background-color: black; }

.nextQuestion {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #fc6600;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.indiaBacktoHome {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #30d1f6;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.saladQuestion,
.apitizerQuestion,
.meatQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px; }

.dish,
.question {
  width: 50%;
  padding: 10px; }

.dish img {
  width: 80%; }

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  min-height: 300px;
  background-image: url("../images/spirationDark.png");
  border: 3px solid #fc6600; }
  .question h2,
  .question h3,
  .question .initialOptions,
  .question .answeredRight,
  .question .answeredWrong {
    margin-bottom: 20px; }
  .question h2,
  .question h3,
  .question p {
    text-align: center; }

.initialOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .initialOptions .wrongOption {
    margin-right: 10px; }
  .initialOptions .rightOption {
    margin-left: 10px; }

.option {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  border: 1px solid;
  color: #FFFFFF;
  background-color: black; }

.nextQuestion {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #fc6600;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.brazilBacktoHome {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #30d1f6;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.riceQuestion,
.wasabiQuestion,
.soysauceQuestion,
.gingerQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px; }

.dish,
.question {
  width: 50%;
  padding: 10px; }

.dish img {
  width: 80%; }

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  min-height: 300px;
  background-image: url("../images/spirationDark.png");
  border: 3px solid #fc6600; }
  .question h2,
  .question h3,
  .question .initialOptions,
  .question .answeredRight,
  .question .answeredWrong {
    margin-bottom: 20px; }
  .question h2,
  .question h3,
  .question p {
    text-align: center; }

.initialOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .initialOptions .wrongOption {
    margin-right: 10px; }
  .initialOptions .rightOption {
    margin-left: 10px; }

.option {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  border: 1px solid;
  color: #FFFFFF;
  background-color: black; }

.nextQuestion {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #fc6600;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.japanBacktoHome {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #30d1f6;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.flavourSauceQuestion,
.basilQuestion,
.spoonQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px; }

.dish,
.question {
  width: 50%;
  padding: 10px; }

.dish img {
  width: 80%; }

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  min-height: 300px;
  background-image: url("../images/spirationDark.png");
  border: 3px solid #fc6600; }
  .question h2,
  .question h3,
  .question .initialOptions,
  .question .answeredRight,
  .question .answeredWrong {
    margin-bottom: 20px; }
  .question h2,
  .question h3,
  .question p {
    text-align: center; }

.initialOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .initialOptions .wrongOption {
    margin-right: 10px; }
  .initialOptions .rightOption {
    margin-left: 10px; }

.option {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  border: 1px solid;
  color: #FFFFFF;
  background-color: black; }

.vietnamBacktoHome {
  border-radius: 50px;
  padding: 16px 65px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  border: 3px solid #30d1f6;
  background-color: black;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

@media (max-width: 480px) {
  body {
    max-width: 450px;
    margin: 0 auto; }
  .introPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .country {
    width: 100%; }
  .japan .wrapper,
  .brazil .wrapper,
  .india .wrapper,
  .vietnam .wrapper {
    max-width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .dish,
  .question {
    width: 100%; } }

.noDisplay {
  display: none; }
